body {
    background-color: blue;
}

.container {
    width: 720px;
    height: 720px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1 1 auto;
    display: flex;
} 

.block {
    flex: 1 1 auto;
    background-color: white;
    transition: background-color 0.5s;
}

.drawn {
    background-color: black;
}