body {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

#clearBtn {
    margin: 10px;
}

.container {
    width: 720px;
    height: 720px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1 1 auto;
    display: flex;
} 

.block {
    flex: 1 1 auto;
    background-color: white;
    transition: background-color 0.5s;
}